.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 64px;
  display: flex;
  justify-content: center;
  padding: 4px;
}

.menu {
  padding: 4px 8px;
}

.siteLayoutBackground {
  margin: 24px 16px !important;
  padding: 24px !important;
  min-height: 280px !important;
  overflow: auto;
}

.header {
  background-color: #fff !important;
  padding: 0 !important;
  display: flex;
  justify-content: flex-end;
}

.card {
  width: fit-content;
}

.contentCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
