@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css");

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

.layout {
  height: 100vh;
}

.logo {
  height: 100%;
}
